.form-div {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1faff;
}

.comp-form {
    height: 65vh;
    width: 40vw;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 4vw;
}

.date-picker-container {
    display: flex;
    align-items: center;
}

.react-datepicker {
    font-size: 14px;
}

.react-datepicker__input-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}

.dropdown-menus {
    display: flex;
    justify-content: space-around;
}