.dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    width: 150px
}


.dropdown-menu li {
    list-style: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.dropdown-menu li:hover {
    background-color: #f0f0f0;

}

.dropdown-menu li.active {
    background-color: #007bff;
    color: #fff;

}