* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: #e4e4e4;
}

.lab-info {
    background-color: #14a2b9;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto;
}

.lab-info label {
    font-size: 22px;
    color: #f1faff;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
    padding: 30px;
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #14a2b9;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .inputfield {
    margin-bottom: 15px;
}

.wrapper .form .inputfield label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea,
.wrapper .form .inputfield .custom_select select {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
    height: 125px;
    resize: none;
}

.wrapper .form .inputfield .custom_select {
    position: relative;
    height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
    border: 1px solid #14a2b9;
}

.wrapper .form .inputfield .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #14a2b9;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .inputfield .btn:hover {
    background: #757575;
}

.wrapper .form .inputfield:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .wrapper {
        padding: 15px;
    }
    .lab-info {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .lab-info label {
        margin-bottom: 10px;
    }
    .wrapper .form .inputfield label {
        width: auto;
    }
}

@media (max-width:420px) {
    .wrapper .form .inputfield {
        flex-direction: column;
        align-items: flex-start;
    }

    .wrapper .form .inputfield label {
        margin-bottom: 5px;
    }

    .wrapper .form .inputfield.terms {
        flex-direction: row;
    }
}