*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}



.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    /* background: linear-gradient(to right, #ff512f, #f09819); */
    background: linear-gradient(#1845ad, #23a2f6);
    right: -30px;
    bottom: -80px;
}

form {
    height: 610px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

form h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #14a2b9;
}

form h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: black;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    border: 1px solid #ccc;
    /* Add border style */
}

button {
    margin-top: 20px;
    width: 100%;
    background-color: #14a2b9;
    color: #e5e5e5;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.orsection {
    margin: 10px 0;
    text-align: center;
}