.qr-reader {
  width: 430px;
  height: 50vh;
  margin: 0 auto;
  position: relative;
}

.qr-reader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.qr-reader .qr-box {
  width: 100% !important;
  left: 0 !important;
}

.qr-reader .qr-frame {
  position: absolute;
  fill: none;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Modal container */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  z-index: 9999;
  /* Ensure it's above other elements */
}

/* Modal content */
.modal-content {
  background-color: #ffffff;
  /* White background */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  /* Soft shadow effect */
  max-width: 400px;
  /* Limit modal width for better readability */
}

/* Modal title */
.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333;
  /* Dark text color */
}

/* Modal input field */
.modal-content input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #cccccc;
  /* Light border color */
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Login button */
.modal-content button {
  background-color: #98c0fa;
  /* Green button color */
  color: #ffffff;
  /* White text color */
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Login button hover effect */
.modal-content button:hover {
  background-color: #9cc2fb;
  /* Darker green on hover */
}

/* Close button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000000;
  /* Light gray color */
  font-size: 20px;
}

/* Close button hover effect */
.modal-close:hover {
  color: #000000;
  /* Slightly darker gray on hover */
}





/* Media Queries for mobile screens */
@media (max-width: 426px) {
  .qr-reader {
    width: 100%;
  }
}

.d-none {
  display: none;
}
    width: 430px;
    height: 50vh;
    margin: 0 auto;
    position: relative;
  }
  
  .qr-reader video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .qr-reader .qr-box {
    width: 100% !important;
    left: 0 !important;
  }
  
  .qr-reader .qr-frame {
    position: absolute;
    fill: none;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  /* Media Queries for mobile screens */
  @media (max-width: 426px) {
    .qr-reader {
      width: 100%;
    }
  }
  
